/* global.css */

/* global styles */
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}


/* grid styles */
.xl{
  max-width: 1440px;
}

/* horizontal spacing styles */

/* vertical spacing styles */
.top-pad{
  padding-top: 60px;
}



/* positioning styles */

.center-text{
  margin: 0 auto;
  text-align: center;
}

.center-grid{
  margin: 0 auto;
}


/* color styles */
.dark-blue{
  background-color: #102938;
}
.text-dark-blue{
  color: #102938;
}

.orange{
  background-color: #F96241;
}
.text-orange{
  color: #F96241;
}

.white{
  background-color: white;
}

.text-white{
  color: white;
}


/* font styles */
