/* global.css */

/* This stylesheet styles all pages on site. It is ordered by the following categories: */
/*
- global
- grid
- horizontal spacing
- vertical spacing
- positioning
- color
- Typography
- Hover
- hidden
- Navigation
- footer
 */


/* global styles */
body{
  margin: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.hide{
  display: none;
}

/* grid styles */
.xl{
  max-width: 1440px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.col-one-half{
  width: 50%;
}
.col-one-third{
  width: 33.3333333%;
}
.col-two-third{
  width: 66.6666%
}
.col-one-quarter{
  width: 25%;
}
.col-one-quarter-m{

}
.col-three-quarter{
  width: 75%;
}
.col-whole{
  width: 100%;
}
@media only screen and (max-width: 992px){
  .col-one-quarter-m-down{
    width: 25%
  }
  .col-three-quarter-m-down{
    width: 75%
  }
}
@media only screen and (max-width: 600px){
  .col-whole-s-down{
    width: 100%
  }
}


/* horizontal spacing styles */
.left-pad{
  padding-left: 250px;
}
.right-pad{
  padding-right: 250px;
}
.list-right-pad{
  padding-right: 40px;
}
@media only screen and (max-width: 1380px) {
  .left-pad{
    padding-left: 150px;
  }
  .right-pad{
    padding-right: 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .left-pad{
    padding-left: 50px;
  }
  .right-pad{
    padding-right: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .left-pad{
    padding-left: 30px;
  }
  .right-pad{
    padding-right: 30px;
  }
  .list-right-pad{
    padding-right: 0px;
    padding-left: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .list-right-pad{
    padding-left: 10px;
  }
}

/* vertical spacing styles */
.top-pad{
  padding-top: 60px;
}
.bot-pad{
  padding-bottom: 60px;
}
.no-top-pad{
  padding-top: 0;
}
.no-left-pad{
  padding-left: 0;
}
.no-top-margin{
  margin-top: 0;
}
.no-bot-margin{
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .top-pad{
    padding-top: 30px;
  }
  .bot-pad{
    padding-bottom: 30px;
  }
}


/* positioning styles */
.relative{
  position: relative;
}
.center-text{
  margin: 0 auto;
  text-align: center;
}
.right{
    text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.center-grid{
  margin: 0 auto;
}
.inline{
  display: inline-block;
}
  /* positions element to immediate left of parent */
.out-left{
  position: relative;
  right: 100%;
  text-align: right;
}

@media only screen and (max-width: 1200px) {
  .out-left{
    right: 0;
    text-align: left;
  }
}

/* color styles */
.dark-blue{
  background-color: #102938;
}
.text-dark-blue{
  color: #102938;
}
.orange{
  background-color: #F96241;
}
.text-orange{
  color: #F96241;
}
.border-orange{
  border: solid 1px #F96241;
}
.white{
  background-color: white;
}
.text-white{
  color: white;
}

/* Typography Styles */
/* font family styles */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
.fira{
  font-family: 'Fira Sans', sans-serif;
}
.fira-mono{
  font-family: 'Fira Mono', monospace;
}
.fira-bold{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}
/* font size styles */
.font-size-l{
  font-size: 48px;
}
.font-size-m{
  font-size: 18px;
}
.font-size-s{
  font-size: 13px;
}
.font-size-footer{
  font-size: 36px;
}
/* tablet screen-sizes */
@media only screen and (max-width: 992px) {
  .font-size-l{
    font-size: 38px;
  }
  .font-size-footer{
    font-size: 26px;
  }
}
/* letter spacing styles */
.letter-space-near{
  letter-spacing: -1px;
}
.letter-space-far{
  letter-spacing: 1.5px;
}
.letter-space-sign-up{
  letter-spacing: .5px;
}
/* line-height style */
.line-height-l{
  line-height: 70px;
}
.line-height-m{
  line-height: 28px;
}
.line-height-s{
  line-height: 15px;
}
.line-height-footer{
  line-height: 47px;
}
/* tablet screen-sizes */
@media only screen and (max-width: 992px) {
  .line-height-l{
    line-height: 50px;
  }
}
/* misc. font styles */
.opaque{
  opacity: .8;
}

/* Hover styles */
.pointer{
  cursor: pointer;
}

/* Hidden Elements */
#search{
  display: none;
}
#log-in-container{
  display: none;
}

/* Navigation aligment */
.nav-middle-align{
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 992px) {
  nav{
    padding-right: 50px;
    text-align: right;
  }
  .nav-middle-align{
    display: block;
    margin-bottom: 0;
    line-height: 40px;
  }
}

/* Footer styles */
.footer-pad-top-bottom{
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-text-pad-bot{
  padding-bottom: 30px;
}
.footer-sign-up-pad-left{
  padding-left: 10px;
}
.footer-sign-up-btn{
  width: 135px;
  height: 40px;
  line-height: 40px;
  border: none;
}
.footer-social-right-margin{
  margin-right: 10px
}
