/* global.css */

/* global styles */
body{
  margin: 0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.hide{
  display: none;
}

/* grid styles */
.xl{
  max-width: 1440px;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.col-one-half{
  width: 50%;
}
.col-one-third{
  width: 33.3333333%;
}
.col-two-third{
  width: 66.6666%
}
.col-one-quarter{
  width: 25%;
}
.col-three-quarter{
  width: 75%;
}
.col-whole{
  width: 100%;
}

/* Breakpoint grid */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .s-whole{
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .m-one-half{
    width: 50%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .xl-one-third{
    width: 33.3333333%
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* horizontal spacing styles */
.left-pad{
  padding-left: 250px;
}
.right-pad{
  padding-right: 250px;
}
.list-left-pad{
  padding-left: 30px;
}

/* vertical spacing styles */
.top-pad{
  padding-top: 60px;
}
.bot-pad{
  padding-bottom: 60px;
}
.no-top-pad{
  padding-top: 0;
}
.no-top-margin{
  margin-top: 0;
}
.no-bot-margin{
  margin-bottom: 0;
}

/* positioning styles */
.center-text{
  margin: 0 auto;
  text-align: center;
}
.right{
    text-align: right;
}
.left{
  text-align: left;
}
.center{
  text-align: center;
}
.center-grid{
  margin: 0 auto;
}
.inline{
  display: inline-block;
}
  /* positions element to immediate left of parent */
.out-left{
  position: relative;
  right: 100%;
  text-align: right;
}


/* color styles */
.dark-blue{
  background-color: #102938;
}
.text-dark-blue{
  color: #102938;
}
.orange{
  background-color: #F96241;
}
.text-orange{
  color: #F96241;
}
.border-orange{
  border: solid 1px #F96241;
}
.white{
  background-color: white;
}
.text-white{
  color: white;
}


/* font styles */



/* Hover States */
.pointer{
  cursor: pointer;
}



/* Navigation aligment */
.nav-middle-align{
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

/* Hidden Elements */
#search{
  display: none;
}
#log-in-container{
  display: none;
}

/* Footer styles */

.footer-pad-top-bottom{
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-text-pad-bot{
  padding-bottom: 30px;
}
.footer-sign-up-pad-left{
  padding-left: 10px;
}
.footer-sign-up-btn{
  width: 135px;
  height: 40px;
  line-height: 40px;
  border: none;
}
.footer-social-right-margin{
  margin-right: 10px
}
