/* product-archive.css */

/* fixes issue with non-html spacing between header and collection */
body{
  background-color: #F96241;
}

/* HERO/HEADER SECTION */
.hero-bot-pad{
  padding-bottom: 80px;
}
.hero-text-right-pad{
  padding-right: 120px;
}
.hero-text-top-pad{
  padding-top: 120px;
}
.hero-inner-text-right-pad{
  padding-right: 80px;
}
.hero-image-right{
  position: relative;
  right: 0;
}

/* SORT SECTION */
.sort-height{
  height: 74px;
}
.sort-bot-margin{
  margin-bottom: 60px;
}

/* PRODUCT GRID SECTION */
.prod-grid-card{
  max-width: 300px;
}
.prod-grid-pad{
  margin: 0 10px 40px 10px;
}
.prod-grid-text-pad{
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.prod-grid-text-top-pad{
  padding-top: 20px;
}
.prod-grid-text-below-pad{
  padding-bottom: 20px;
}
.prod-grid-no-margin{
  margin-top: 0;
  margin-bottom: 0;
}
.prod-grid-buy{
  width: 170px;
  height: 40px;
  line-height: 40px;
  border: none;
  font-weight: bold;
}
